fastapi
uvicorn[standard]
langchain
langchain-community
sentence-transformers
pypdf
numpy
scikit-learn
pymongo
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
requests
chromadb
langgraph
google-genai
tensorflow==2.17.1
gunicorn
python-multipart